:root{
     --font: 'Courier New', Courier, monospace;
     --bg-side-bar: #1A1A1A; /* Dark black for the sidebar background */
     --text: #FFFFFF; /* Pure white for general text */
     --bg-icon: #007BFF; /* A vibrant blue for icons and accents */
     --bg-arrow: #0056B3; /* A slightly darker blue for arrows, complementing --bg-icon */
     --text-color: #E0E0E0; /* Off-white for general text, slightly softer than pure white */
     --button-color: #007BFF; /* Same vibrant blue as --bg-icon for buttons */
     --bg-container: #121212; /* Dark grey for the main content container */
     --text-light-grey: #6a6a6a; /* Light grey for secondary text */
     --grid-gap: 24px;
     --column-count: 4;
}

::placeholder {
     color: var(--text);
     opacity: 1;
   }
   @media screen and (max-width: 767px) {
}

@media screen and (min-width: 768px) and (max-width: 1274px) {
}

   