.main-container{
    width: 100%;
    height: 100vh;
    padding-top: 80px;
}
.nav{
    display: flex;
    justify-content: space-around;
    align-items: center;
}
.header-nav .nav .arrow-left{
    margin-right: 1rem;
}
.header-nav .nav .arrow-right{
    margin-right: 2rem;
}
.arrow-left, .arrow-right{
    display: flex;
    align-items: center;
    justify-content: center;
    width: 32px;
    height: 32px;
    background: var(--bg-icon);
    background-color: var(--bg-icon);
    border-radius: 50%;
    cursor: pointer;
}
.header-search{
    display: flex;
    align-items: center;
    width: 364px;
    height: 48px;
    margin-left: 8px;
    background-color: var(--button-color);
    border-radius: 500px;
    border: 1px solid transparent;
    margin-right: 1.25rem;
}
.header-search img{
    height: 16px;
    width: 16px;
    margin: 1rem;
}
.header-search input{
    background: transparent;
    border: none;
    padding: 0, 100px, 0, 12px;
    color: var(--text-color);
    text-overflow: ellipsis;
    overflow: hidden;
    white-space: nowrap;
    outline: none;
}
.header-login{
    display: flex;
    align-items: center;

}
.header-login .subscribe{
    color: var(--text);
    background: var(--bg-icon);
    font-size: 16px;
    font-weight: 700;
    margin-right: 32px;
    width: auto;
    padding: 10px 20px;
    height: 2rem;
    border-radius: 15px;
}
.header-login .login{
    color: var(--text);
    background: var(--button-color);
    font-size: 16px;
    font-weight: 700;
    width: auto;
    padding: 10px 20px;
    height: 2rem;
    border-radius: 15px;
}
----------------------------------------
.playlist-container {
    height: 68vh;
    padding-top: 16px;
    margin: 0;
    border-radius: 10px;
    background-color: var(--bg-container);
  }
  
  .playlist {
    margin: 0;
  }
  
  .playlist #greeting {
    color: var(--text-base-light);
    font-size: 32px;
    font-weight: 700;
    margin-bottom: 48px;
  }
  
  .playlist .session {
    color: var(--text);
    font-size: 24px;
    font-weight: 700;
  }
  
  /* SCROLL */
  .offer__scroll-container {
    max-height: 43vh;
    margin: 24px;
    overflow-y: auto;
  }
  
  .offer__scroll-container::-webkit-scrollbar {
    width: 1px;
  }
  
  .offer__scroll-container::-webkit-scrollbar-thumb {
    background-color: transparent;
  }
  /* FIM SCROLL */
  
  .offer__list {
    width: 100%;
  }
  
  .offer__list-item {
    display: grid;
    gap: 16px;
    grid-template-columns: repeat(5, 1fr);
    margin: 0 auto;
  }

.cards {
    position: relative; /* relative:
                            Comportamento em relação a si mesmo: O elemento é posicionado em relação à sua posição original.
                            Mantém espaço original: O espaço original que o elemento ocuparia não é alterado, mas você pode movê-lo com top, right, bottom ou left. */
    width: 220px;
    height: 200px;
    overflow: hidden;
    border-radius: 8px;
  }
  
  .cards span {
    padding: 16px;
    position: absolute;
    /* absolute:
                            Comportamento em relação ao ancestral posicionado mais próximo ou ao elemento raiz (se nenhum ancestral estiver posicionado).
                            Remove do fluxo normal: O elemento é removido do fluxo normal do documento, o que significa que outros elementos agem como se o elemento não estivesse presente. */
    color: var(--text);
    font-size: 24px;
    font-weight: 700;
  }
  .card1 {
    background-color: rgb(red, green, blue);
  }
  .card2 {
    background-color: rgb(132, 0, 231);
  }
  .card3 {
    background: rgb(30, 50, 100);
  }
  .card4 {
    background: rgb(140, 25, 50);
  }
  .card5 {
    background: rgb(232, 17, 91);
  }
  .card6 {
    background: rgb(83, 122, 161);
  }
  .card7 {
    background: rgb(142, 102, 172);
  }
  .card8 {
    background: rgb(20, 138, 8);
  }
  .card9 {
    background: rgb(30, 50, 100);
  }
  .card10 {
    background: rgb(233, 20, 41);
  }
  .card11 {
    background: rgb(80, 55, 80);
  }
  .card12 {
    background: rgb(216, 64, 0);
  }
  .card13 {
    background: rgb(186, 93, 7);
  }
  .card14 {
    background: rgb(0, 30, 80);
  }
  .card15 {
    background: rgb(60, 30, 80);
  }
  .offer__list-item img {
    position: absolute;
    right: 0;
    bottom: 0;
    height: auto;
    width: 107px;
    transform: rotate(25deg) translate(18%, -2%);
  }
  
  /* CARD ARTISTA */
  
  .artist {
    --column-count: 5;
    --grid-gap: 24px;
    --min-container-width: 372px;
  }
  
  .hidden {
    display: none;
  }
  
  .grid-container {
    grid-gap: var(--grid-gap);
    display: grid;
    grid-template-columns: repeat(var(--column-count), minmax(0, 1fr));
    min-width: var(--min-container-width);
  }
  
  .artist-card {
    background: #181818;
    border-radius: 8px;
    -ms-flex: 1;
    flex: 1;
    isolation: isolate;
    padding: 16px;
    position: relative;
    transition: background-color 0.3s ease;
    width: 100%;
  }
  
  .artist-card:hover {
    background-color: #252525;
  }
  
  .card-img {
    padding-bottom: 100%;
    position: relative;
    width: 100%;
    margin-bottom: 16px;
  }
  
  .artist-img {
    height: 100%;
    left: 0;
    position: absolute;
    top: 0;
    width: 100%;
    border-radius: 50%;
  }
  
  .card-text {
    display: flex;
    flex-direction: column;
    color: #fff;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
    min-height: 62px;
  }
  
  .card-text a {
    display: inline-block;
    max-width: 100%;
    vertical-align: middle;
  }
  
  .artist-name {
    box-sizing: border-box;
    margin-block: 0px;
    font-size: 16px;
    font-weight: 700;
    padding-block-end: 8px;
  }
  
  .artist-categorie {
    color: var(--text-light-grey);
    font-weight: 400;
    font-size: 0.875rem;
  }
  
  .play {
    position: relative;
  }
  
  .play .fa-play {
    position: absolute;
    right: 10px;
    top: 120px;
    padding: 18px;
    background-color: var(--bg-icon);
    border-radius: 100%;
    font-size: 14px;
    opacity: 0;
    transition: all ease 0.4s;
  }
  
  .artist-card:hover .play .fa-play {
    opacity: 1;
    transform: translateY(-20px);
  }
  
  .play .fa-play:hover {
    padding: 20px;
    cursor: pointer;
  }
  
  #result-artist {
    padding: 20px 40px;
  }