html, body {
  margin: 0;
  padding: 0 20px;
}
body {
  background-color: #000000;
  font-family: var(--font);
}
.sidebar {
  display: none;
}
.sidebar_navigation {
  background-color: var(--bg-side-bar);
  border-radius: 8px;
  padding: 16px 0 16px 16px;
}
.logo{
    background-color: var(--bg-icon);
    display: flex;
    border-radius: 8px;
    padding: 20px 20px 20px 75px;
    margin-right: 16px;

}
.logo img {
width: 80px;
}

.sidebar nav ul{
    margin-top: 20px;
    padding: 0 20px 10px 80px;
}
.sidebar nav ul li{
    padding: 10px 0;
}
.sidebar nav ul li a{
    color: var(--text);
    font-weight: 600;
    font-size: 14px;
}
.biblioteca{
  background-color: var(--bg-side-bar);
  border-radius: 8px;
  margin-top: 10px;
  padding: 4px 8px;
  color: var(--text);
  display: flex;
  justify-content: space-between;
  flex-direction: column;
  font-weight: 600;
  font-size: 14px;
}
.biblioteca .biblioteca_content{
  display: flex;
  justify-content: space-between;
  padding: 10px;
}
.biblioteca .biblioteca_button{
  margin-right: 10px;
  color: var(--text);
  background-color: transparent;
  border: 0;
  font-size: 14px;
  font-weight: 700;
  text-align: center;
  text-decoration: none;
  text-transform: none;
  padding: 20px 10px;
  display: flex;
}
.biblioteca .biblioteca_button .fa{
  font-size: 20px;
  margin-right: 10px;
  font-weight: 300;
  padding-right: 8px;
}
.biblioteca .biblioteca_content .fa-plus{
  margin: 24px 10px;
}
.playlist{
  display: flex;
  align-items: flex-start;
  justify-content: space-between;
  gap: 20px;
  color: var(--text);
  background-color: var(--bg-side-bar);
  font-weight: 600;
  font-size: 14px;
  margin: 8px 0;
  padding: 16px 20px;
  border-radius: 10px;
}
.playlist .playlist_content{
  display: flex;
  flex-direction: column;
}
.playlist_content .text{
  padding-bottom: 14px;
  color: var(--text-color);
}
.playlist_content .title{
  font-weight: 700;
}
.playlist_content .subtitle{
  font-weight: 500;
  font-size: 12px;
}
.playlist_content .playlist_button{
  display: flex;
  justify-content: center;
  background-color: var(--button-color);
  color: var(--text);
  font-weight: 700;
  border-radius: 20px;
  font-size: 15px ;
  text-decoration: none;
  text-transform: none;
  padding: 10px;
  border: 0;
  width: 113px;
  margin-top: 12px;
}
.sidebar .cookies{
  margin: 20px 20px;
}
.sidebar .cookies a{
    color: var(--text);
    font-weight: 800;
    font-size: 10px;
    text-decoration: none;
}
.sidebar .cookies a:hover{
  text-decoration: underline;
}
.sidebar .idiomas .idioma_button{
  background-color: transparent;
  border: 1px solid var(--text);
  color: var(--text);
  cursor: pointer;
  align-items: center;
  font-weight: bold;
  width: 170px;
  margin: 8px;
  padding: 8px;
  border-radius: 20px;
}

.content-container {
    margin-left: 0;
    margin-right: 0;
}

.header-nav{
    position: fixed;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 16px;
    background-color: var(--bg-side-bar);
    top: 0;
    left: 0;
    width: 100%;
    z-index: 10;
}